

services:

  database:
    image: mariadb:10.11
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=supervision
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
    volumes:
      - mariadata:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    restart: always
    environment:
      - DB_HOST=database        # DOCKER: le service DB s'appelle "database", pas "localhost"
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=supervision
      - APP_PORT=3000
    ports:
      - "3000:3000"
    depends_on:
      - database
    volumes:
      - ./backend:/app

  frontend:
    image: nginx:alpine
    restart: always
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mariadata:
